<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Run Updater with results of Crawler</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- <form> -->
                    <div class="mb-3">
                        <label for="urlTask" class="form-label">Url Task</label>
                        <input type="text" class="form-control" id="urlTask" [(ngModel)]="urlTask">
                        <!-- <div id="urlTask" class="form-text">Added a url API Task</div> -->
                    </div>
                    <div class="mb-3">
                        <label for="startUrls" class="form-label">startUrls</label>
                        <!-- <input type="text" class="form-control" id="startUrls"> -->
                        <textarea class="form-control" id="startUrls" rows="10" [(ngModel)]="jsonModal"></textarea>
                        <!-- <label for="floatingTextarea2">Comments</label> -->
                    </div>

                <!-- </form> -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="sendRequest()">Run Task</button>
            </div>
        </div>
    </div>
</div>





<div class="title-container">
    <br>
    <!-- <h2>{{userInfo[0]?.email}}</h2> -->
    <div class="container">
        <h3>Convert Crawler to Updater</h3>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-primary m-1 button-right" (click)="processData()">
                <i class="bi bi-folder-symlink"></i> Convert
            </button>
            <div class="form-check form-switch form-check-inline">
                <input class="form-check-input" [(ngModel)]="productName" type="checkbox" id="productName">
                <label class="form-check-label" for="productName">ProductName</label>
            </div>
            <div class="form-check form-switch form-check-inline">
                <input class="form-check-input" [(ngModel)]="productId" type="checkbox" id="productId">
                <label class="form-check-label" for="productId">ProductId</label>
            </div>
        </div>
        <div class="col-md-6">
            <button *ngIf="codeHtml2 !== ''" type="button" class="btn btn-primary m-1" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Run Task Updater
            </button>

            <button class="btn btn-success m-1 button-right" (click)="copyToClipboard(codeHtml2)">
                <i class="bi bi-copy"></i> Copy
            </button>
            <button class="btn btn-warning text-white m-1 button-right" (click)="clearConsole()">
                <i class="bi bi-eraser"></i> Clean all
            </button>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="editor-container">
                <ngx-monaco-editor [options]="codeEditorOptionsHtml" [(ngModel)]="codeHtml"></ngx-monaco-editor>
            </div>
        </div>
        <div class="col-md-6">
            <div class="json-viewer-container">
                <ngx-json-viewer *ngIf="codeHtml2 !== ''" [json]="codeHtml2"></ngx-json-viewer>
            </div>
        </div>
    </div>
</div>