.editor-container {
    width: 100%;
    height: 450px;
}

ngx-monaco-editor {
    height: 100%;
}

.my-code-editor {
    .editor-container {
        border-radius: 5px;
        border: 1px solid var(--lines-hr);
        padding: 0px;
    }
}

.json-viewer-container {
    width: 100%;
    height: 440px;
    border-radius: 5px;
    overflow-y: scroll;
    scrollbar-color: #56688b #161D2F;
    scrollbar-width: thin;
    border: 1px solid var(--lines-hr);
    padding: 10px;
    box-sizing: border-box;
    /* background-color: var(--background-sec); */
    background-color: #1E1E1E;
    /* background-color: #022A36; */
    color: var(--ngx-json-value);
    font-size: var(--ngx-json-font-size);
}

.text-prim {
    color: var(--button-prim);
}

.json-viewer-container ngx-json-viewer {
    display: block;
}

.button-prim {
    background: var(--button-prim);
    color: #FFFFFF;
}

.button-prim:hover {
    background: var(--button-sec);
}

.button-right {
    float: right;
}

.button-clear-url {
    background-color: var(--button-prim);
    border-color: var(--button-sec);
    color: #FFFFFF;
}

.button-clear-url:hover {
    background-color: var(--button-sec);
    border-color: var(--button-prim);
}

.switch-check:checked {
    background-color: var(--button-prim);
    border-color: var(--button-sec);
    box-shadow: 0 0 1px 1px #ca1e41;
}

.switch-check:focus {
    border-color: #ff869f;
    box-shadow: 0 0 1px 1px #ca1e41;
}

.switch-check:not {
    border-color: #ff869f;
    box-shadow: 0 0 1px 1px #ca1e41;
}





/*  -------------- Modal styles -------------- */

.background-sec {
    background-color: var(--background-sec);
    color: #ffffff;
    border: 1px solid var(--lines-hr);
}

.close-sec {
    color: var(--button-prim) !important;
    font-weight: bolder;
    position: absolute;
    right: 10px;
}

.header-sec {
    border-bottom: 1px solid var(--lines-hr);
}

.footer-sec {
    border-top: 1px solid var(--lines-hr);
}

.input-color {
    background-color: #1b2844;
    border: 1px solid var(--lines-hr);
    color: #FFFFFF;
}

.input-color:active {
    background-color: #1b2844 !important;
    color: #FFFFFF;
}