.editor-container {
    width: 100%;
    height: 500px;
}

ngx-monaco-editor {
    height: 100%;
    border-radius: 5px;
}

.json-viewer-container {
    width: 100%;
    height: 490px;
    border-radius: 5px;
    overflow-y: scroll;
    scrollbar-color: #dfdfdf #b1b1b1;
    scrollbar-width: thin;
    border: 1px solid #c5c5c5;
    padding: 10px;
    box-sizing: border-box;
    background-color: #eeeeee;
    /* background-color: #022A36; */
    color: #f8f8f2;
    color: var(--ngx-json-value);
    font-size: var(--ngx-json-font-size);
}

.json-viewer-container ngx-json-viewer {
    display: block;
}

.button-right {
    float: right;
}

.button-clear-url{
    color: #afafaf;
}

.button-clear-url:hover {
    color: #d42222;
    border-color: #d42222;
    background-color: #ff00002f;
}