<div class="container">
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <!-- <div class="card-header">
                  Featured
                </div> -->
                <div class="card-body card-sec">
                    <h5 class="card-title">Jira SSI KANBAN CHSUP</h5>
                    <p class="card-text">KANBAN CHSUP</p>
                    <a class="btn button-prim btn-rigth" target="_blank"
                        href="https://salamancasolutions.atlassian.net/jira/software/c/projects/CHSUP/boards/987">Go
                        site</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <!-- <div class="card-header">
                  Featured
                </div> -->
                <div class="card-body card-sec">
                    <h5 class="card-title">Jira CS Backlog</h5>
                    <p class="card-text">Backlog</p>
                    <a class="btn button-prim btn-rigth" target="_blank"
                        href="https://channelsight.atlassian.net/jira/software/c/projects/DOB/boards/163/backlog?issueLimit=100&quickFilter=446">Go
                        site</a>
                </div>
            </div>
        </div>
    </div>

    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body card-sec">
                    <h5 class="card-title">Apify CS_QA</h5>
                    <p class="card-text">CS_QA: tareas en entorno de desarrollo.</p>
                    <a class="btn button-prim btn-rigth" target="_blank"
                        href="https://console.apify.com/organization/GTLDwzJnfTMQqgBR4/actors/tasks">Go site</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body card-sec">
                    <h5 class="card-title">Apify Production</h5>
                    <p class="card-text">Production: tareas en producción.</p>
                    <a class="btn button-prim btn-rigth" target="_blank"
                        href="https://console.apify.com/organization/7ofB4GuCfaMCkX2HP/actors/tasks">Go site</a>
                </div>
            </div>
        </div>
    </div>

    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="card content-card-list">
                <div class="card-header card-list">
                    Herramientas en entorno de desarrollo
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item card-list"><a target="_blank"
                            href="https://console.apify.com/organization/GTLDwzJnfTMQqgBR4/actors/tasks/XETtJl5o4ddH0I1Sg/input">Validation
                            task</a></li>
                    <li class="list-group-item card-list"><a target="_blank"
                            href="https://console.apify.com/organization/GTLDwzJnfTMQqgBR4/actors/tasks/NwQud5cBCWmVeodrf/input">Crawler
                            Updater comparison</a></li>
                    <li class="list-group-item card-list"><a target="_blank"
                            href="https://console.apify.com/organization/GTLDwzJnfTMQqgBR4/actors/tasks/yJCNZGs62mj8nujPS/input">Create
                            deploy Update to Production</a></li>
                    <li class="list-group-item card-list"><a target="_blank"
                            href="https://console.apify.com/organization/GTLDwzJnfTMQqgBR4/actors/tasks/Vjm6hpBMAXGTfn2tm/input">Migrate
                            Task</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card content-card-list">
                <div class="card-header card-list">
                    Herramientas de apoyo
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item card-list"><a target="_blank"
                            href="https://docwiki.embarcadero.com/RADStudio/Sydney/en/Language_Culture_Names,_Codes,_and_ISO_Values">Language
                            Culture Names
                            task</a></li>
                    <li class="list-group-item card-list"><a target="_blank" href="https://regexr.com/">Regex*
                            Updater comparison</a></li>
                    <li class="list-group-item card-list"><a target="_blank"
                            href="https://jsoneditoronline.org/#left=local.hebate&right=local.nolaqi">Json Editor
                            deploy Update to Production</a></li>

                </ul>
            </div>
        </div>
    </div>
</div>