<nav class="navbar navbar-expand-lg navbar-prim">
  <div class="container-fluid">
    <a class="navbar-brand text-title" routerLink="/">DAX Tasks</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/convert">Convert</a>
        </li>
        <!-- <li class="nav-item">
              <a class="nav-link text-white" routerLink="/production-list">Production</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" routerLink="/production-list">CS_QA</a>
            </li> -->
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/comparer">Comparer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/validation">Validation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/deploy">Deploy</a>
        </li>

        <li class="nav-item dropdown custom-dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Tools
          </a>

          <ul class="dropdown-menu tools-prim" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item text-white" target="_blank" href="https://regexr.com/">
                <i class="bi bi-regex"></i> 
                Regexr Page
              </a></li>
            <li><a class="dropdown-item text-white" target="_blank"
                href="https://jsoneditoronline.org/#left=local.hebate&right=local.nolaqi">
                <i class="bi bi-braces"></i> 
                Json Editor
              </a></li>
          </ul>
        </li>

      </ul>
      <div class="d-flex">
        <h5 *ngIf="userInfo[0]?.email; else loginTemplate">{{userInfo[0]?.email}}</h5>
        <ng-template #loginTemplate>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link text-white" routerLink="/login">Login</a>
            </li>
          </ul>
        </ng-template>
      </div>
    </div>
  </div>
</nav>