

.navbar-prim {
    background-color: #111826;
    color: #FFFFFF;
}

.text-title {
    font-weight: bolder; 
    color: #E94A6A;
}

.text-prim { 
    color: #E94A6A;
}

.tools-prim {
    background-color: #111826;
}

.custom-dropdown .dropdown-item:hover {
    --bs-dropdown-link-hover-bg: #111826; /* Ajusta el color según tus necesidades */
    background-color: var(--background-terc); /* Aplicar el color */
  }